<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring-4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widht=devide-width, initial-scale=1.0, maximum-escale=1.0">
    <meta name="author" content="Equipe Propeest">
    <link rel="stylesheet" href="inicialNaoLogado.css" type="text/css" />
    <title>Armários IFSP</title>
</head>
<body>
<header>
    <div class="menu">
        <div class="nome">Armários IFSP</div>
        <nav>
            <a href="/login">Entrar</a>
            <a href="/cadastro">Cadastre-se</a>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="banner">
        <h1>BEM-VINDO!</h1>
        <h2>_____</h2>
        <h3>FAÇA JÁ O SEU CADASTRO!!</h3>
    </div>
</section>

<div class="corpo">
    <div class="primeiro">
        <div class="caixa">
            <img src="/IMG/armarios.jpg" />
        </div>

        <div class="texto">
            <h4>
                Visualize quais armários estão disponíveis e reserve já o seu!
            </h4>
            <section class="botao">
                <a href="/cadastro"><button class="Cadastro" type="submit">Cadastre-se</button></a>
            </section>
        </div>
    </div>

    <div class="segundo">
        <div class="caixa2">
            <img src="/IMG/contrato.png" />
        </div>

        <div class="texto2">
            <h4>
                Evite a perda do contrato, faça já o seu cadastro e tenha a versão
                digitalizada!!
            </h4>
            <section class="botao">
                <button class="saiba mais" type="submit">Saiba Mais</button>
            </section>
        </div>
    </div>

    <div class="terceiro">
        <div class="caixa">
            <img src="/IMG/lembrete.jpg" />
        </div>
        <div class="texto">
            <h4>
                Não perca a data limite do pagamento, deixe que o Armários IFSP te
                lembre!
            </h4>
            <section class="botao">
                <button class="saiba mais" type="submit">Saiba Mais</button>
            </section>
        </div>
    </div>
</div>

<section id="newslatter2">
    <div class="texto3">
        <h5>CONTATO</h5>
        <p></p>
    </div>
</section>
</body>
</html>